.start{
    padding: 15px;
    font-size: 20px;
}
#game_clicker{
    display: none;
}
#start_btn{
    font-size: 22px;
    padding: 10px;
    background-color: black;
    color: yellowgreen;
    font-weight: 600;
    border-radius: 10px;
}
span{
    font-size: 22px;
    font-weight: 600;
}
#demo{
    margin-top: 10px;
    padding: 15px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid rgb(168, 247, 10);
}